<!DOCTYPE html>
<html>

<head>
    <title>
        <%= status %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= status %>
    </h1>
    <p>Uploaded name is
        <%= name %>
    </p>
    <p>PMT ID:
        <%=PMTID %>
    </p>
    <p>VIDEO ID:
        <%=VPID %>
    </p>
    <p>AUDIO ID:
        <%=APID %>
    </p>
    <p>PAT LENGTH:
        <%=PAT_SECTION_LENGTH %>
    </p>
    <p>TOTAL PACKET COUNT:
        <%= TOTALPACKET %>
    </p>
    <p>TOTAL PAT COUNT:
        <%= PATPACKET %>
    </p>
    <p>TOTAL PMT COUNT:
        <%= PMTPACKET %>
    </p>
    <p>TOTAL VIDEO COUNT:
        <%= VIDEOPACKET %>
    </p>
    <p>TOTAL AUDIO COUNT:
        <%= AUDIOPACKET %>
    </p>


</body>

</html>