<!DOCTYPE html>
<html>

<head>
    <title>
        <%= status %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.1.0/echarts.min.js"></script>

</head>

<body>
    <div id="main" style="width:1500px; height:600px;"></div>
    <h1>
        <%= status %>
    </h1>
    <p>Uploaded name is
        <%= name %>
    </p>
    <p>PMT ID:
        <%=PMTID %>
    </p>
    <p>VIDEO ID:
        <%=VPID %>
    </p>
    <p>AUDIO ID:
        <%=APID %>
    </p>

    <p>TOTAL PACKET COUNT:
        <%= TOTALPACKET %>
    </p>
    <p>TOTAL PAT COUNT:
        <%= PATPACKET %>
    </p>
    <p>TOTAL PMT COUNT:
        <%= PMTPACKET %>
    </p>
    <p>TOTAL VIDEO COUNT:
        <%= VIDEOPACKET %>
    </p>
    <p>TOTAL AUDIO COUNT:
        <%= AUDIOPACKET %>
    </p>
    <p>VIDEO ZERO COUNT:
        <%= VIDEOZEROCOUNT %>
    </p>
    <p>THE RATIO:
        <%= THERATIO %>
    </p>
    <details>
        <summary>IBP FRAME</summary>
        <p>
            <%= ALLPICFRAME %>
        </p>
    </details>
    <details>
        <summary>I FRAME
            <%=AVERAGEI%>
        </summary>
        <p>
            <%= IFRAME %>
        </p>
    </details>
    <details>
        <summary>B FRAME
            <%=AVERAGEB%>
        </summary>
        <p>
            <%= BFRAME %>
        </p>
    </details>
    <details>
        <summary>P FRAME
            <%=AVERAGEP%>
        </summary>
        <p>
            <%= PFRAME %>
        </p>
    </details>

    <script type="text/javascript">
        // based on prepared DOM, initialize echarts instance
        var myChart = echarts.init(document.getElementById('main'));

        // specify chart configuration item and data
        var option = {
            tooltip: {
                trigger: 'axis',
                position: function (pt) {
                    return [pt[0], '10%'];
                }
            },
            title: {
                left: 'center',
                text: 'Data Chart',
            },
            toolbox: {
                feature: {
                    dataZoom: {
                        yAxisIndex: 'none'
                    },
                    restore: {},
                    saveAsImage: {}
                }
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: [<%=VIDEOPESCOUNT%>]
            },
            yAxis: {
                type: 'value',
                boundaryGap: false,
                data: [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

            },
            dataZoom: [{
                type: 'inside',
                start: 0,
                end: 10
            }, {
                start: 0,
                end: 10,
                handleIcon: 'M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
                handleSize: '80%',
                handleStyle: {
                    color: '#fff',
                    shadowBlur: 3,
                    shadowColor: 'rgba(0, 0, 0, 0.6)',
                    shadowOffsetX: 2,
                    shadowOffsetY: 2
                }
            }],
            series: [{
                name: 'Ratio',
                type: 'line',
                smooth: true,
                symbol: 'none',
                sampling: 'average',
                itemStyle: {
                    color: 'rgb(255, 70, 131)'
                },
                areaStyle: {
                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                        offset: 0,
                        color: 'rgb(255, 158, 68)'
                    }, {
                        offset: 1,
                        color: 'rgb(255, 70, 131)'
                    }])
                },
                data: [<%=VIDEOPADDINGRATIO%>]
            }]
        };
        myChart.setOption(option);
    </script>
</body>

</html>